h1{
    font-family: 'Encode Sans Expanded',Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-align: center;
}

.carrito{
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
    position: relative;
}

.info-articulo{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
    margin: 0 auto;
}

.nombre-articulo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cantidad-articulo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 150px;
    align-items: center;
    margin: 20px auto 20px auto;
    position: absolute;
    left: 55%;
    top:17%;
    
}

.info-precio{
    display: flex;
    flex-direction: column;
}
.imagen-articulo{
    width: 10%;
}

.nombre{
    font-weight: bold;
    font-size: 24px;
}

.info{
    font-weight:400;
    font-size: 20px;
}

.titulo-cantidad{
    font-weight:400;
    font-size: 20px;
}


.cantidad-articulo {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.botones-fijos {
    display: grid;
    grid-template-columns: 32px 40px 32px 32px;
    width: 140px;
    justify-content: start;
    align-items: center;
    
}
.triple-boton {
    display: grid;
    grid-template-columns: 32px 40px 32px 32px; 
    width: 140px;       
    justify-content: start;
    align-items: center;
}

.botondisminuir,
.botonincrementar,
.campo-vacio,.btn-eliminar
.papelera {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-eliminar{
    background-color: transparent;
}
.campo-vacio {
    width: 40px; 
}

.papelera img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}


.campo-vacio {
    width: 40px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid gray;
    box-sizing: border-box;

    color: gray;
    font-size: 16px;

    overflow: hidden; 
    flex-shrink: 0;
}



button[type="submit"]{
    background: none;
  border: none;
  padding: 0;
  appearance: none;
  cursor: pointer;
}

.papelera {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.papelera img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

table {
  border-collapse: separate;
  border-spacing: 10px 15px;
}
.precio{
    font-weight: 400;
    font-size: 20px;
    border-bottom: 15px;
}

.precio-subtotal{
    font-weight: 400;
    font-size:24px;
    border-top: 15px;
}

.contador{
    text-align: end;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
  
}

.total{
    font-size: 24px;
    font-weight: bold;
    width: 20%;
}

.precio-total{
    font-weight: 400;
    font-size: 24px;
    width: 5%;
    margin-right: 10% ;
}

.comprar{
    width: 157px;
    height: 52px;
    color: black;
    background-color:#FEF4D4;
    border: 3px solid #FFA500;
    font-size: 22px;
    font-weight: bold;
    margin: 50px auto;
}

.mensaje-vacio{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

@media (max-width:1310px){
article{
    margin-top: 5%;
}

    .imagen-articulo{
    width: 50%;
}

.triple-boton{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.info-articulo{
    flex-direction: column;
    width: 50%;
    gap: 30px;
}

.comprar{
    margin-bottom: 5%;
}

}

@media (max-width:768px){
    h1{
        font-size: 50px;
        margin-top: 5%;
    }
article{
        flex-direction: column;
    }

    .imagen-articulo{
    width: 80%;
    margin: 0 auto;
}

.info-articulo{
    flex-direction: column;
    width: 90%;
    gap: 30px;
}

.nombre-articulo{
    gap: 10px;
}

.cantidad-articulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-precio{
    gap: 10px;
}

.contador{
    margin-right: 20%;
    margin-bottom: 20%;
}

.comprar{
    margin-bottom: 20%;
}
}




@media (max-width:480px){
    h1{
        font-size: 30px;
        margin-top: 5%;
    }
    article{
        flex-direction: column;
    }

    .imagen-articulo{
    width: 80%;
    margin: 0 auto;
}

.info-articulo{
    flex-direction: column;
    width: 90%;
    gap: 30px;
}

.nombre-articulo{
    gap: 10px;
}

.cantidad-articulo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-precio{
    gap: 10px;
}

.contador{
    margin-right: 20%;
    margin-bottom: 20%;
}

.comprar{
    margin-bottom: 20%;
}
}


