main{
    display: flex;
    margin: 50px auto;
    width: 70%;
}

h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20%;
}

.contacto img{
    width: 40%;
    
}


form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

label{
    font-size: 24px;
    font-weight: bold;
}

input{
    margin-bottom: 10%;
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    padding-left: 15px;
}


textarea{
   background-color: #D9D9D9;
   margin-bottom: 10%;
   border: none;
   padding-left: 15px;
   padding-top: 5px;
}

.boton-enviar{
    width: 216px;
    height: 57px;
    background-color: #FFA500;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;

}