main{
    display: flex;
    margin: 50px auto;
    width: 70%;
}

h2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20%;
}

.contacto img{
    width: 40%;
    
}


form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    width: 100%;
    flex-wrap:wrap;
}

label{
    font-size: 24px;
    font-weight: bold;
}

input{
    background-color: #D9D9D9;
    border: none;
    height: 40px;
    padding-left: 15px;
    transition: border-color 0.3s ease;
}

input:focus{
    background-color: #b3de9a;
    color: black;
    border: 5px solid #5fff02;
    outline: none;
}

textarea{
   background-color: #D9D9D9;
   border: none;
   padding-left: 15px;
   padding-top: 5px;
   padding-right: 15px;
   transition: border-color 0.3s ease;
}

textarea:focus{
    background-color: #b3de9a;
    color: black;
    border: 5px solid #5fff02;
    outline: none;
}

.boton-enviar{
    width: 216px;
    height: 57px;
    background-color: #FFA500;
    border-radius: 15px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

#error-nombre,#error-email,#error-comentario{
    color: red;
    font-size: 14px;
    display:none;
    
}   

#error-nombre.visible,#error-email.visible,#error-comentario.visible{
   display: block;
}
    

@media (max-width: 775px) {
.contacto img{
        display: none;
    }

}





@media (max-width: 480px) {

    form{
        width: 95%;
        margin: 0 auto;
    }

    textarea{
        width: 95%;
    }
    .contacto img{
        display: none;
    }
}