footer{
    display: flex;
    background-color: black;
    width: 100%;
    height: 150px;
    color: white;
    justify-content: space-between;
        position: relative;
    font-family: Arial, sans-serif;

   
}

.info-footer{
    width: 70%;
    margin: 20px auto 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    
}

.direcciones,.panel3{
    display: flex;
    width: 30%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    
}

.panel2{
  display: flex;
    width: 50%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}





.subpanel{
  display: flex;
  justify-content: center;
  gap: 100px;

}



.redes-sociales{    
    width: 30%;
    display: inline-block;
  position:absolute;
  top:50%;
  left:87%;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);

}


.enlace-custom {
  color:#fff;
  background: #DB6E82;
  border-radius:4px;
  text-align:center;
  text-decoration:none;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:40px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

.enlace-custom:hover {
  background: #ef92a3;
}



.enlace-custom .custom {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:2px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.enlace-custom .custom:before {
  content:'';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}



.enlace-custom:hover .custom {
  bottom:50px;
  visibility:visible;
  opacity:1;
}


.enlace-custom:nth-of-type(1):before {
content:'\f09a';
}
.enlace-custom:nth-of-type(2):before {
content:'\e61b';
}
.enlace-custom:nth-of-type(3):before {
content:'\f16d';
}