footer {
  background-color: black;
  color: white;
  width: 100%;
}

.footer-container {
  max-width:100%; 
  margin: 0 25px;
  padding: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; 
}

.info-footer {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    text-align: center;
    font-size: clamp(14px, 1.2vw, 18px);
}

.email-footer{
    grid-column: 2/4;
}

.direcciones,.panel3{
    display: flex;
    width: 30%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.panel2{
    display: flex;
    width: 50%;
    height: 60%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.subpanel{
    display: flex;
    justify-content: center;
    gap: 50px;

}

.redes-sociales {
    display: flex;
    gap: 10px;
    align-items: center;
}

.enlace-custom {
    color:#fff;
    background: #DB6E82;
    border-radius:4px;
    text-align:center;
    text-decoration:none;
    font-family:fontawesome;
    position: relative;
    display: inline-block;
    width:40px;
    height:40px;
    padding-top:12px;
    margin:0 2px;
    -o-transition:all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    -webkit-font-smoothing: antialiased;
}

.enlace-custom:hover {
    background: #EF92A3;
}

.enlace-custom .custom {
    color:#666;
    position:absolute;
    font-family:sans-serif;
    bottom: -10px;           
    left: 50%;               
    transform: translateX(-50%);
    padding:5px 7px;
    z-index: 10;             
    font-size:14px;
    border-radius:2px;
    background:#fff;
    visibility:hidden;
    opacity:0;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.enlace-custom .custom:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
    position:absolute;
    top: 26px;               
    left:50%;
    transform: translateX(-50%);
}

.enlace-custom:hover .custom {
    bottom:50px;
    visibility:visible;
    opacity:1;
}

.enlace-custom:nth-of-type(1):before {
    content:'\f09a';
}

.enlace-custom:nth-of-type(2):before {
    content:'\e61b';
}

.enlace-custom:nth-of-type(3):before {
    content:'\f16d';
}


@media (max-width: 900px) {

.info-footer {
    font-size: clamp(13px, 2.5vw, 16px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
}


@media (max-width: 480px) {
footer {
    padding: 16px 8px;
}
.footer-container {
    flex-direction: column;
    gap: 30px;
    margin: 0 8px;
    padding: 10px 0;
}
.info-footer {
    font-size: clamp(12px, 3.5vw, 16px);
    margin: 0 8px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.enlace-custom {
    width: 36px;
    height: 36px;
    padding-top: 10px;
}

.enlace-custom .custom {
    font-size: 12px;    
}
.enlace-custom .custom:before {
    top: 23px;
}
}