header{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #F4C430;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Encode Sans Expanded',Arial, Helvetica, sans-serif;
    position: relative;
    
}
.boton-menu{
    display: none;
}
#menu{
    display: none;
}

#toggle-menu:checked ~ .menu {
  display: inline;
}

.movil{
    display: none;
}

#toggle-menu{
  display: none;
}

.menu{
  display: none;
  width: 200px;
  height: auto;
  position: absolute;
  background-color: aquamarine;
  border:5px solid black;
  border-radius: 15px;
  top: 90px;
  text-align: center;
  z-index: 5;
}




.logo{
    width: 100px;
    border: 5px solid #008000;
    border-radius: 50%;
    margin: 10px;
}

.fa-bars{
    opacity: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    gap: 40px;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 45%;
    justify-content: center;
    align-items: center;
}


nav ul li{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.menu-iconos li:nth-child(1) img{
    width: 40px;
}

.menu-iconos li:nth-child(2) img {
  width: 40px;
}


.menu-iconos li:nth-child(3) img {
  width: 39.5px;
}
.contenedor-botones{
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

nav ul li a:link{
    color: black;
}

nav ul li a:visited{
    color: #8B0000;
}

nav ul li a:hover{
    color: #007F5F;
}


nav ul li a:active{
    color: #8a2be2;
}


.inicio-btn{
    width: 120px;
    height: 30px;
    font-weight: bold;
    background-color: #FEF4D4;
    border: 3px solid #ffa500;
    cursor: pointer;
    transition: transform 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.inicio-btn:hover{
    background-color: #adff2f;
    border-color: #007F5F;
    transform: scale(1.1);
}

.registro-btn{
    width: 120px;
    height: 30px;
    background-color: #8B0000;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.5s ease;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


.registro-btn:hover{
    background-color:#5f9ea0;
    transform: scale(1.1);

}

a{
    text-decoration: none;
}


@media (max-width: 900px) {
nav{
    gap: 2%;
    margin-left: 5%;
    padding-left: 2%;
    width: 80%;
}

nav ul{
    width: 65%;
    
}

.menu-iconos li:nth-child(1) img{
    width: 40px;
}

.menu-iconos li:nth-child(2) img {
  width: 40px;
}


.menu-iconos li:nth-child(3) img {
  width: 39.5px;
}
.contenedor-botones{
    width: 195px;
    margin-left: 1%;
}

.inicio-btn{
    width:110px ;
}
    
.registro-btn{
    width: 110px;
}
}
@media (max-width:775px){
    .fa-bars{
        opacity: 1;
    }

    .fa-3{
        font-size: 3em;
    }

    nav ul li{
        display: none;
        width: 100%;
        
    }

    nav{
        gap: 20px;
        justify-content: center;
    }

     .boton-menu{
        display: inline;
        background-color: transparent;
        cursor: pointer;

    }
   

    
}

@media (max-width: 480px) {
    .contenedor-botones{
        display: none;
    }

    .boton-menu{
        display: inline;
        background-color: transparent;
        cursor: pointer;
    }
    nav{
        justify-content: flex-end;
        
    }

   .movil{
    display: block;
   }


}

