.contenedor-principal{
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto 100px auto;
}

h1{
    width: 100%;
}

h1.design {
    width: 100%;
  font-family:'Fjalla One', sans-serif;
  font-size:3em;
  color: #ff3643;
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
  display:inline;
  text-shadow: 
    1px 1px 0 rgba(23,23,23,1),
    2px 2px 0 rgba(23,23,23,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
}

h1.coding {
  width: 100%;
  font-family:'Fjalla One', sans-serif;
  font-size:7em;
  color: #ff3643;
  margin: 0 -37px 0 0;
  padding: 0;
  letter-spacing: 3px;
  font-weight: 500;
  transition: all ease-in .2s;
  -webkit-text-stroke: 1px rgba(238,238,238,.2); 
  display:inline;
  opacity: 0;
  text-shadow: 
    1px 1px 0 rgba(23,23,23,1),
    2px 2px 0 rgba(23,23,23,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
}

h1.design:hover {
text-shadow: 
  1px 1px 0 rgba(23,23,23,1),
  3px 3px 0 rgba(23,23,23,0.9),
  5px 5px 0 rgba(23,23,23,0.8),
  7px 7px 0 rgba(23,23,23,0.7),
  9px 9px 0 rgba(23,23,23,0.6),
  11px 11px 0 rgba(23,23,23,0.5),
  13px 13px 0 rgba(23,23,23,0.4),
  15px 15px 0 rgba(23,23,23,0.3),
  17px 17px 0 rgba(23,23,23,0.2),
  19px 19px 0 rgba(23,23,23,0.1),
  21px 21px 0 rgba(23,23,23,0.08),
  23px 23px 0 rgba(23,23,23,0.06),
  25px 25px 0 rgba(23,23,23,0.04),
  27px 27px 0 rgba(23,23,23,0.02),
  29px 29px 0 rgba(23,23,23,0.0);
  margin: 0 0 0 50px;
  border-bottom: 5px solid;
}

.titlewrapper:hover .coding {
  opacity: 1;
}

h1.coding:hover {
  text-shadow:
    1px 1px 0 rgba(238,238,238,1),
    2px 2px 0 rgba(238,238,238,0.9),
    3px 3px 0 rgba(23,23,23,0.8),
    4px 4px 0 rgba(23,23,23,0.7),
    5px 5px 0 rgba(23,23,23,0.6),
    6px 6px 0 rgba(23,23,23,0.5),
    7px 7px 0 rgba(23,23,23,0.4),
    8px 8px 0 rgba(23,23,23,0.3),
    9px 9px 0 rgba(23,23,23,0.2),
    10px 10px 0 rgba(23,23,23,0.1),
    11px 11px 0 rgba(23,23,23,0.09),
    12px 12px 0 rgba(23,23,23,0.08),
    13px 13px 0 rgba(23,23,23,0.07),
    14px 14px 0 rgba(23,23,23,0.06),
    15px 15px 0 rgba(23,23,23,0.05),
    16px 16px 0 rgba(23,23,23,0.04),
    17px 17px 0 rgba(23,23,23,0.03),
    18px 18px 0 rgba(23,23,23,0.02),
    19px 19px 0 rgba(23,23,23,0.01),
    20px 20px 0 rgba(23,23,23,0.0),
    -15px 20px 10px rgba(23,23,23,0.05);
  margin:0;
}

.contenedor-video{
    width: 50%;
    display: flex;
    justify-content: center;     
}

video{
    margin-top: 100px;
}

.contenedor-texto{
    width: 50%;
    padding: 110px 10px;
    padding-left: 30px;
    padding-right: 30px;
}

article{
    margin-bottom: 50px;
}

article p{
    padding-bottom: 10px;
    font-size: 16px;
}

.articulo1,.articulo2{
  position: relative;
}

.texto-corto1,.texto-corto2 {
  display: block;
}

/*#toggle1,#toggle2 {
  display: none;
}*/

.texto-largo1,.texto-largo2 {
  display: none;
}

/*#toggle1:checked ~ .texto-largo1 {
  display: inline;
}

#toggle2:checked ~ .texto-largo2 {
  display: inline;
}*/

.boton1,.boton2 {
  /*content: 'Mostrar más';*/
  position: absolute;
  bottom:-20px;
  right:60px;
  font-weight: bolder;
}

/*#toggle1:checked + .boton1::after {
  content: 'Mostrar menos';
}

#toggle2:checked + .boton2::after {
  content: 'Mostrar menos';
}*/

.boton1,.boton2 {
  display: block;
  margin-left: 5px;
  color: #007bff;
  cursor: pointer;
  user-select: none;
}

h2,h3,h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.st-anime-4 {
    position: relative;
    Background-color: #fd5854;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.8);
    padding: 8px 25px;
    -webkit-clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
            clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
}

.st-anime-4::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 15px;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg);
    -webkit-animation: 3s linear infinite animationTexte4;
            animation: 3s linear infinite animationTexte4;
}

@-webkit-keyframes animationTexte4 {
  0% {
    margin-left:-50%;
  } 
  50% {
    margin-left:150%;
  }
  100% {
    margin-left:-50%;
  }
}

@keyframes animationTexte4 {
  0% {
    margin-left:-50%;
  } 
  50% {
    margin-left:150%;
  }
  100% {
    margin-left:-50%;
  }
}

.st-anime-3 {
    position: relative;
    Background-color: #fd5854;
    color: #fff;
    text-shadow: 0 0 2px rgba(0,0,0,.8);
    padding: 8px 25px;
    border-radius: 50px;
}

.st-anime-3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    width: 15px;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    -webkit-animation: 3s linear infinite animationTexte3;
            animation: 3s linear infinite animationTexte3;
}

@-webkit-keyframes animationTexte3 {
  0% {
    margin-left:-50%;
  } 
  50% {
    margin-left:150%;
  }
  100% {
    margin-left:-50%;
  }
}

@keyframes animationTexte3 {
  0% {
    margin-left:-50%;
  } 
  50% {
    margin-left:150%;
  }
  100% {
    margin-left:-50%;
  }
}
            
h4{
    margin-bottom: 10px;
}

.st-anime-2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0 0 15px;
}

.st-anime-2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    width: 100%;
    height: 10px;
    background: #fd5854;
    border-radius: 10px;
    opacity: .3;
}

.st-anime-2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 16px;
    width: 20px;
    height: 10px;
    background: #fff;
    border-radius: 10px;
    opacity: 0.5;
    -webkit-animation: 3s linear infinite animationTexte2;
            animation: 3s linear infinite animationTexte2;
}
@-webkit-keyframes animationTexte2 {
  0% {
    margin-left:0;
  } 
  50% {
    margin-left:100%;
  }
  100% {
    margin-left:-0;
  }
}
@keyframes animationTexte2 {
  0% {
    margin-left:0;
    
  } 
  50% {
    margin-left:100%;
  }
  100% {
    margin-left:0;
  }
}

.contenedor-texto p{
  margin-top: 5px;
}

.lista-patito{
  list-style: none;
  padding: 0;
}

.lista-patito li{
  position: relative;
  padding-left:30px;
    
}

.lista-patito li::before{
  content: "";
  background-image: url('../assets/images/patito.png');
  width: 30px;
  height: 30px;;
  position: absolute;
  left:-10px;
  top: -5px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 900px) {
h1.design{
   font-size: 4em ;
   padding-left:5%;
}

h1.coding{
   font-size: 5em;
}
.contenedor-principal{
   flex-direction: column;
   width: 80%;
   margin: 0 auto;
}

.contenedor-video{
  width:100% ;
}
    
.contenedor-texto{
  width: 100%;
}
}

@media (max-width:775px){
h1.design{
  font-size: 4em ;
}

h1.coding{
  font-size: 5em;
}
}

/*.boton1::after,.boton2::after {
  content: 'Mostrar más';
  position: absolute;
  bottom:-10%;
  left: 80%;
  font-weight: bolder;
  display: inline-block;
  width: 40%;
}*/

/*#toggle2:checked + .boton2::after {
  content: 'Mostrar menos';
  position: absolute;
  bottom:-10%;
  left: 80%;
  font-weight: bolder;
  display: inline-block;
  width: 40%;
}*/

@media (max-width: 480px) {
 h1.design{
  font-size: 2em ;
}

h1.coding{
  font-size: 3em;
}
video{
  width: 90%;
  margin-top: 0;
}
    
.contenedor-texto{
  width: 100%;
}

/*#toggle1:checked + .boton1::after {
  content: 'Mostrar menos';
  position: absolute;
  bottom:-10%;
  left: 80%;
  font-weight: bolder;
  display: inline-block;
  width: 45%;
}*/

/*#toggle2:checked + .boton2::after {
  content: 'Mostrar menos';
  position: absolute;
  bottom:-10%;
  left: 80%;
  font-weight: bolder;
  display: inline-block;
  width: 45%;
}*/
}