*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body,html {
    background-color: white;
    color: #333333;
    overflow-x: hidden;
    font-family: 'Encode Sans Expanded',Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column; 
}
button{
    border: none;
    background-color: transparent;

}

main{
    width: 100%;
    flex: 1;
}

address {
  all: unset;
}

footer{
    margin-top: auto;
}