*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: 'Encode Sans Expanded',Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    color: #333333;
    overflow-x: hidden;
}


button{
    background-color:none;
    border: none;

}

main{
    width: 100%;
}