*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    /*background-color: #f5f5f5;*/
    background-color: #e9f1f7;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    color: #333333;
    overflow-x: hidden;
}


button{
    background-color:none;
    border: none;

}

main{
    width: 100%;
}