*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body,html {
    background-color: white;
    height: 100%;
    color: #333333;
    overflow-x: hidden;
    font-family: 'Encode Sans Expanded',Arial, Helvetica, sans-serif;
}


button{
    background-color:none;
    border: none;

}

main{
    width: 100%;
}

address {
  all: unset;
}
